.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 1vh;
  margin-bottom: 1vh;
  overscroll-behavior: none;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 4.0vw;
}
h3 {
  font-size: 3vw;
}
h5{
  font-size: 2vw;
}
p, li, a {
  font-size: 2.0vw;
}

.logo-nav, .heroSection>article:first-child, .highlightsSection, .testimonialsSection, .aboutSection{
  padding-left:1vw;
  padding-right: 1vw;
}
footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: #EDEFEE;
}

footer>section:first-child{
  display: grid;
  align-items: center;
}

footer>section>img{
  display: flow;
  justify-self: center;
  align-items: center;
  width: 20vw;
}
.logo-nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav menu{
  display: flex;
  justify-content: flex-end;
}
menu{
  padding-inline-start: 0px;
}

nav menu li {
  margin-left: 0.5rem;
}

li{
  list-style: none;
}

li a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Karla', sans-serif;
  color: #333333;
}

a:hover {
  text-shadow: #282c34;
  color: grey;
}

figure{
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
}

.restaurantPicture {
  margin-top: 1rem;
  /* width: 23.438rem; */
  /* height: 27.563rem; */
  height: 60vw;
  border-radius: 1rem;
  float: right;
  object-fit: cover;
}
.heroSection{
  background-color: #495E57;
  color: white;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  height: 60vw;
  width: 100vw;
}

.heroSection h1{
  font-family: 'Markazi Text', 'Roboto', sans-serif;
  font-size: 5.9vw;
  color: #F4CE14;
  margin-block: 0em;

}

button {
  background-color: #F4CE14;
  border-color: #F4CE14;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  border-radius: 1rem;
  width: 40vw;
  min-height: 2.5em;
}

button:active{
  background-color: #495E57;
  border-color: #495E57;
  color: #F4CE14;
}

.highlightsSection{
  display: grid;
  margin-top: 8vh;
  grid-template-columns: 1fr;
}

.highlightsSection>article:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.productImage{
  /* width: 16.5rem;
  height: 11.563rem; */
  width: 45vw;
  height: 30vw;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: solid 0.1rem;
  object-fit: cover;
}

.cardsContainer{
  display: grid;
  grid-gap: 1.5rem;
  overflow-x: scroll;
  grid-auto-flow: column;
  margin-block-start: 8vh;
}

.deliveryIcon{
  width: 5vw;
}

.productCard{
  background-color: #EDEFEE;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 45vw;
}

.productCard:hover{
  background-color: #FBDABB;
}

.titlePrice, .delivery{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  color: #EE9972;
  font-family: 'Karla', sans-serif;
}

.testimonialCardsContainer{
  display: grid;
  grid-gap: 1.25rem;
  overflow-x: scroll;
  grid-auto-flow: column;
  margin-block-start: 8vh;
}

.reviewImage{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.ownerPicture {
  /* width: 23.438rem;
  height: 27.563rem; */
  border-radius: 1rem;
  float: right;
  object-fit: cover;
  width: 60vw;
  height: fit-content;
}

.aboutSection{
  display: flex;
}

@media only screen and (max-width: 690px) {
  body {
    background-color: lightblue;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.logo{
  max-width: 30vw;
}
.bm-item-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-item-sm{
  font-size: 4em;
  color: white;
}

.bm-burger-button {
  position: relative;
  right: 10px;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 25px;
  margin-top: 0px;
  padding-top: 0px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.navContainer {
  display: flex;
  flex-direction: row-reverse;
}

.bm-overlay {
  background: rgba(255, 255, 255, 0.3);
  top: 0px;
  left: 0px;
}

